@import "../../../assets/style/variables.scss";

.maze-list {
    color: $text;
    border: 1px solid $border;
    border-radius: $radius;
    overflow: hidden;

    li {
        border-bottom: 1px solid $border;
    }
    > :nth-last-child(1) {
        border-bottom: none;
    }
}
