@import "../../../assets/style/variables.scss";

.maze-board {
    display: grid;
    border: 1px solid $border;
    border-radius: $radius;
    background-color: $road;
    box-shadow: $shadow;
    overflow: hidden;

    .maze-board-col {
        display: grid;
    }
}
