.maker-maze-controller {
    display: grid;
    gap: 0.6rem;
    margin-top: 1.25rem;
    text-align: center;

    position: fixed;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 220px;

    > :nth-child(1),
    > :nth-child(2) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.6rem;
    }

    .btn {
        width: 100%;
    }
}

@media (max-width: 1116px) {
    .maker-maze-controller {
        position: static;
        transform: none;
        width: auto;
        margin-top: 1.5rem;
    }
}
