@import "../../../assets/style/variables.scss";

.game-template {
    padding-bottom: 3rem;

    .map-title {
        margin: 1.25rem 0 1.5rem;
    }

    .game-template-content {
        padding: 0 1rem;
    }
}
